/*
font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 10px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background:#312ac6;
  background-image: url(./assets/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1fr;
  margin: 0px;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

p {
  color: white;
}
a {
  color: white;
}

@media (max-width: 1000px){
  body {
    background-size: auto auto;
  }
}
